.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 500px;
  margin: 50px auto;
  box-sizing: border-box;
}
